*{
	margin: 0;
	padding: 0;
	cursor: url(https://cur.cursors-4u.net/games/gam-4/gam375.cur), auto !important;
	color:#CED3D2;
}
body{
	background-color:#161616;
	background-position: center;
	background-repeat:none;
	display:block;
}

h1{
	font-size:30px;
	text-align:center;
}




h2{
	font-family:fantasia;
	font-size:23px;
}

h3{
	font-size:20px;
	text-align:center;
}

h4{
	text-align:center;
	font-size:40px;
	font-family:fantasia;
}

h5{
	text-align:left;
	font-size:25px;
	margin-left:20px;
}


div{
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
table,td{
	border:3px solid black;
}

p{
	margin:5px;
}

li{
	border:solid black 1px;
}

#Contenedor {
	width: 2390px;
	height: 3000px;
	border:black 1px dashed;
	background-image: url(../media/imagenes/font.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top center;
	z-index:5000;
	
}

#Cabecera {
	margin:3px;
	width:2350px;
	height:300px;
	margin-top:30px;

}
#Navegador_fixed {
	background-image: url(../media/imagenes/fixed.png);
    background-repeat: repeat-x;
    background-position: top left;
    height: 100%;
	margin: 0;
	position: fixed;
    z-index: 55000;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
}

#Main {
	background-color:;
	width:1900px;
	height:2400px;
	border:3px solid black;
	margin-left:220px;
	
}
#columna1{
	background-color:;
	margin:30px;
	width:315px;
	height:800px;
	border:10px solid black;
	position:relative;
	background-image:url(../media/imagenes/pizarra.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
}
#columna2{
	margin:30px;
	width:350px;
	height:350px;
	border:10px solid black;
	position:relative;
	left:1450px;
	bottom:835px;
	background-image:url(../media/imagenes/pizarra.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
}

#columna3{
	background-color:;
	margin:30px;
	width:350px;
	height:1550px;
	border:10px solid black;
	position:relative;
	left:1450px;
	bottom:835px;
	background-image:url(../media/imagenes/pizarra.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
}
#Article{
	background-color:;
	margin:30px;
	width:900px;
	height:1950px;
	border:10px solid black;
	position:relative;
	left:450px;
	bottom:2814px;
	font-size:28px;
	background-image:url(../media/imagenes/pizarra.png);
	background-repeat: no-repeat;
	background-size:100% 100% ;
}

#NavegacionC{
	width:1160px;
	height:60px;
	position:relative;
	left:600px;
	right:35px;
	top:83px;
	
	
}

.nav{
	position:relative;
	left:0;
	z-index:200;
	font-size:25px;

}

ul, ol{
	list-style:none;
}

.nav li a{
	background-image: url(../media/imagenes/marco.png);
	background-repeat: no-repeat;
	background-size:100% 98%;
	color:white;
	text-decoration:none;
	padding:10px 15px;
	display:block;
	width:250px;
	height:40px;
	text-align:center;
}
.nav li a:hover{
  color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 20px 48px rgba(0, 0, 0, 1);
  transition: all 0.5s ease;
  
  
}
.nav > li{
	float:left;
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;

}
.nav li:hover > ul {
	display:block;
}

.fotos_izquierda {
width:150px;
height:150px;
left:1630px;
position:relative
}


.iconos {
	width:4.5em;
	height:4.5em;
}

.miniconos2{
	width:28px;
	height:28px;
	float:left;
	margin-left:10px;
}
.minicono3{
	width:28px;
	height:28px;
	float:left;
	margin-left:10px;
	margin-top:3.5px;
}

.miniconos{
	width:40px;
	height:40px;
}
.video{
	width:100%;
	height:100%;
	margin:0px;
	
}
.roster{
	margin-left:20px;
	margin-top:20px;
}
.interrogacion{
	font-family:arial;
	font-size:50px
}

.LogIn{
	font-size:30px;
	float:right;
	margin-right:15px;
}

.LogoTexto{
	margin-left:30px;
	margin-top:4px;
	font-size:25px;
}


@font-face{
	font-family:fantasia;
	src:url(../media/imagenes/Antique.ttf);
}

